<p>
    <form action = " #">
        Title: <br />
        <input type = 'text' name = 'title' placeholder="Item Title" required/>
        <br /> <br />
        Description: <br />
        <input type = 'text' name = 'description' placeholder="Item Description" required/>
        <br /> <br />
        Category: <br />
        <select name="category">
        <option value="Soccer">Soccer</option>
        <option value="Snowboarding">Snowboarding</option>
        <option value="Frisbee">Frisbee</option>
        <option value="Baseball">Baseball</option>
        </select>
        <br /><br />
        <input type="submit" value ='Create'>

    </form>
</p>
