{% extends "main.html" %}
{% block body %}
<h1>
    Categories.
</h1>
<h2>
    {% if creator.id == 1%} Viewing as Guest {%endif%}
    {% if creator.id != 1%} logged in as {{creator.name}} {%endif%}

</h2>
<ul>
    {% for category in categories %}
    <a href="{{url_for('showItem',category_id = category.id)}}"><li> {{ category.name }} </li></a>
    {% endfor %}
</ul>
<h1>
    Recently added Items.
</h1>
<ul>
    {% for recentItem in recentItems[-4:] %}
        <li>
            {{recentItem.name}} <!-- The 4 most recent items added -->
        </li>
    {% endfor %}
</ul>
{% endblock %}
